<div class="login-container">
  <h2>Se connecter</h2>
  <form class="login-container-form" [formGroup]="loginForm" (ngSubmit)="OnSubmitLogin()">

    <mat-form-field>
      <input matInput placeholder="Saisissez votre email" type="email" formControlName="loginEmail">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Saisissez votre mot de passe" type="password" formControlName="loginPassword">
    </mat-form-field>

    <button mat-flat-button [disabled]="loginForm.invalid">Connexion<mat-icon>send</mat-icon></button>

    <div *ngIf="test==false" style="margin-top: 15px; color: brown; align-self: center; font-weight: bold;">Login ou mot de passe pas valide</div>

  </form>
</div>
