
.login-container {
  display: flex;
  flex-direction: column;
  padding-left: 33.33vw;
  padding-right: 33.33vw;
  padding-top: 33.33vh;
}

.login-container-form {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.login-container > h2
{
  text-align: center;
}

.login-container > button
{
  text-align: center;
  color: rgba(0,0,0, 0.3);
}

