<mat-card class="mat-whiteframe-2dp">
  <mat-card-title-group>
    <mat-card-title>
      <a href="#/people/1">
        <span>{{ actualite.titre }}</span>
      </a>
    </mat-card-title>
    <mat-card-subtitle></mat-card-subtitle>
    <mat-card-subtitle class="contact-info">
      <mat-icon>calendar_today</mat-icon>
      <a>{{ actualite.dateActu }}</a>

    </mat-card-subtitle>
  </mat-card-title-group>

  <mat-card-content>
    <div [innerHTML]='actualite.contenuHTML.substring(0,350)+" ..."'></div>
    <div class="but">
      <button
        style="float: right; margin: 10px;"
        mat-button
        titre="Modifier"
        (click)="showDialog(actualite)"
        *ngIf="dialogStatus == 'inactive' && currentRole === rolesInterface.Admin">
        <i class="material-icons">create</i>
      </button>
      <button
        style="margin: 10px;"
        mat-button
        title="Lire la suite"
        (click)="showDialog1(actualite)">
        <i class="material-icons">open_in_new</i>
      </button>

    </div>

  </mat-card-content>

</mat-card>

