<div class="login-container">
  <h1>Fiche utilisateur</h1>

  <form class="login-container-form">

    <mat-form-field>
      <mat-label>Rôle : </mat-label><input matInput value={{user.role}} type="text" readonly disabled>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nom : </mat-label><input matInput value={{user.nom}} type="text" readonly disabled>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Prénom : </mat-label><input matInput value={{user.prenom}} type="text" readonly disabled>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Adresse Mail : </mat-label><input matInput value={{user.adresseMail}} type="text" readonly disabled>
    </mat-form-field>

  </form>

</div>
