.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

a.active {
  color: red;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}

li {
  float: left;
}

li > a{
  display: block;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  float: left;
  margin-right: 20px;
}

li > a:hover{
  cursor: pointer;
}
