<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Fonctionnalités</a>
      <a mat-list-item routerLink="/fiche_utilisateur" routerLinkActive="active">Fiche Utilisateur</a>
      <a mat-list-item routerLink="/utilisateurs" routerLinkActive="active">Tous les utilisateurs</a>
      <a mat-list-item routerLink="/actualites" routerLinkActive="active">Actualités</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

        <ul>
          <li><a>Entreprise YADE AND CO</a></li>
          <li><a>{{currentUserName}}</a></li>
          <li style="float:right"><a (click)="logout()"><mat-icon>highlight_off</mat-icon></a></li>
        </ul>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
