<mat-card class="mat-whiteframe-2dp">
  <mat-card-title>
    <span *ngIf="isUpdateMode">Update {{ model?.firstname }} {{ model?.lastname }}</span>
  </mat-card-title>

  <mat-card-content>
    <form #f="ngForm">
      <p *ngIf="isUpdateMode">
        <mat-form-field>
          <input [ngModel]="model.uid" matInput style="width:100%" placeholder="ID (disabled)" disabled name="uid" />
        </mat-form-field>
      </p>

      <table style="width: 100%" cellspacing="0">
        <tr>
          <td>
            <mat-form-field>
              <input [(ngModel)]="model.prenom" matInput placeholder="Prénom *" name="prenom" />
            </mat-form-field>
            <mat-form-field>
              <input [(ngModel)]="model.nom" matInput placeholder="Nom *" name="nom" />
            </mat-form-field>
          </td>
          <td class="align-right">
            <img width="100" src="{{ model.lient_photo || 'https://randomuser.me/api/portraits/lego/6.jpg' }}" />
            <input type="hidden" [(ngModel)]="model.lien_photo" name="lien_photo" />
          </td>
        </tr>
      </table>

      <p>
        <mat-form-field>
          <input [(ngModel)]="model.email" matInput placeholder="Email *" style="width:100%" name="email" />
        </mat-form-field>
      </p>

      <p ngModelGroup="address">
        <mat-form-field>
          <input [(ngModel)]="model.role" matInput placeholder="Rôle" style="width:100%" name="role" />
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input
            [(ngModel)]="model.phone"
            matInput
            placeholder="Phone * (ex: 0612345678)"
            style="width:100%"
            name="phone"
          />
        </mat-form-field>
      </p>
    </form>
  </mat-card-content>

  <mat-card-actions align="end">
    <button mat-button type="button" (click)="annuler()">Annuler</button>
    <button mat-button color="primary" type="submit" (click)="enregistrer()">Enregistrer</button>
  </mat-card-actions>
</mat-card>
